@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #fafafa;
    color: #313131;
    font-family: 'Inter';
}

.reversed {
    background-color: #313131;
    color: #fafafa;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.border-bottom {
    border-color: #999 !important;
}

.border {
    border-color: #999 !important;
}

footer > div > a {
    color: #999 !important;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #313131;
}

.carousel-indicators :not(.active){
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #313131;
}


.bi-chevron-left {
    color: #313131 !important;
    font-size: 34px !important;
}
.bi-chevron-right {
    color: #313131 !important;
    font-size: 34px !important;
}
.bi-person {
    font-size: 128px !important;
}