@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    background-color: #fafafa;
    color: #313131;
    font-family: 'Inter';
}

#works-right {
    min-width: 328px;
    max-width: 328px;
}

.container-creui {
    position: relative;
    width: 50%;
    max-width: 328px;
  }
  
  .image-creui {
    display: block;
    width: 328px;
    height: auto;
    max-width: 328px;
  }
  
  .overlay-creui {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 328px;
    width: 328px;
    opacity: 0;
    transition: .5s ease;
    background-color: #000;
    max-width: 328px;
  }
  
  .container-creui:hover .overlay-creui {
    opacity: .8;
    max-width: 328px;
  }

  .text-creui {
    color: #fafafa;
    font-size: 14px;
    position: absolute;
    max-width: 328px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .text-creui > span {
    color: #fafafa;
    font-weight: bold;
    font-size: 20px;
    max-width: 328px;
  }

  .coming-soon {
    width: 328px;
    height: 328px;
  }

.reversed {
    background-color: #313131;
    color: #fafafa;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}

.border-bottom {
    border-color: #999 !important;
}

.border {
    border-color: #999 !important;
}

footer > div > a {
    color: #999 !important;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #313131;
}

.carousel-indicators :not(.active){
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #313131;
}

.carousel-indicators.reversed .active {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fafafa;
}

.carousel-indicators.reversed :not(.active){
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #fafafa;
}


.bi-chevron-left {
    color: #313131 !important;
    font-size: 34px !important;
}
.bi-chevron-right {
    color: #313131 !important;
    font-size: 34px !important;
}

.bi-chevron-left.reversed {
    color: #fafafa !important;
    font-size: 34px !important;
}
.bi-chevron-right.reversed{
    color: #fafafa !important;
    font-size: 34px !important;
}
.bi-person {
    font-size: 128px !important;
}